p {
  color: darkolivegreen; }

.letter-spacing {
  letter-spacing: 10px; }

.word-spacing {
  word-spacing: 10px; }

.text-align-right {
  text-align: right; }

.underline {
  text-decoration: underline; }

.linethrough {
  text-decoration: line-through; }

.narrowLineHeight {
  line-height: 0.8; }

.wideLineHeight {
  line-height: 1.8; }

.serif {
  font-family: "Times New Roman", Times, serif; }

.sansserif {
  font-family: Arial, Helvetica, sans-serif; }

.normal {
  font-weight: normal; }

.bold {
  font-weight: 600; }

.bolder {
  font-weight: bolder; }

#large {
  font-size: 2.5em; }

#small {
  font-size: 0.7em; }

.circle {
  list-style-type: circle; }

.square {
  list-style-type: square; }

.upperAlpha {
  list-style-type: upper-alpha; }

.lowerRoman {
  list-style-type: lower-roman; }
